@import url(websecurify.xul.css);

#report-page {
padding: 10px;
background: #2d2d38;
}

#report-page h1 {
width: 272px;
height: 55px;
background: url(images/logo.composed.small.png) no-repeat;
}

#report-page h1 span {
display: none;
}

#report-pane {
padding: 10px;
background: #ffffff;
}

#report-pane .report-section p {
width: 50em;
word-wrap: break-word;
}

#report-pane .report-section .report-section {
padding-left: 2em;
}

#report-pane .report-section .report-section h2 {
margin: 0;
padding: 0;
margin-top: 1em;
font-size: 130%;
}