richlistitem {
border-bottom: 1px dotted #2d2d38;
}

richlistitem toolbarbutton {
color: #2200cc;
}

richlistitem[selected=true] {
color: #ffffe8;
background: #2d2d38;
}

richlistitem[selected=true] toolbarbutton {
color: #9cc9c9;
}

/* -------------------------------------------------- */

progressmeter {
-moz-appearance: none !important;
}

progressmeter .progress-bar {
-moz-appearance: none !important;
background-color: #e86e48 !important;
}

/* -------------------------------------------------- */