body {
margin: 20px;
padding: 20px;
color: #ffffe8;
font-size: 101%;
background: #2d2d38;
font-family: Verdana;
}

#header h1 {
margin-bottom: 5px;
}

#header a {
width: 545px;
height: 60px;
display: block;
background: url(images/logo.png) no-repeat;
}

#header a span {
display: none;
}

#header p {
padding: 5px;
display: inline;
font-size: 200%;
background: #8a7d6d;
font-weight: lighter;
text-transform: lowercase;
}

/* -------------------- */

#status {
display: block;
overflow: hidden;
white-space:nowrap;
text-overflow: ellipsis;
}

/* -------------------- */

a {
color: #9cc9c9;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

object {
display: block;
border: 10px solid #000000;
}

ul, ol {
font-size: 80%;
}

/* -------------------- */

form {
margin-bottom: 20px;
}

input {
border: none;
padding: 20px;
font-size: 200%;
}

input[type="text"] {
border: 1px solid #FFFFFF;
}

input[type="button"], input[type="submit"] {
color: #ffffe8;
background: #e86e48;
text-transform: lowercase;
}

/* -------------------- */

.message, .warning {
font-size: 200%;
font-family: Verdana;
font-weight: lighter;
padding: 20px 0 20px 0;
text-transform: lowercase;
}

/* -------------------- */

#content div, #content p {
width: 750px;
}